html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper-full {
  height: 100%;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item-1 { flex: 1; }
.flex-item-2 { flex: 2; }
.flex-item-3 { flex: 3; }
.flex-item-4 { flex: 4; }
.flex-item-5 { flex: 5; }
.flex-item-6 { flex: 6; }
.flex-item-7 { flex: 7; }
.flex-item-8 { flex: 8; }
.flex-item-9 { flex: 9; }
.flex-item-10 { flex: 10; }

.header {
  height: 80px;
  background-color: steelblue;
}

.main {
  background-color: lightslategray;
}

.footer {
  background-color: lightsteelblue;
}


/*player table styles*/
.title-header {
  min-height: 25px;
  width:100%;
  background-color: gainsboro;
  font-weight: bold;
}

.content-header {
  min-height: 50px;
  width:100%;
  /*padding-right: 10px;*/ /*same as custom scroll bar*/
  background-color: skyblue;
  font-weight: bold;
}

.content-row {
  min-height: 40px;
}
.content-row:nth-child(2) {
  background-color: lightgray;
}
.content-row:last-child {
  border-bottom: 1px solid lightgray;
}


.content-row:hover {
  background-color: gainsboro;
}

.bordered {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.split > div {
  border-right: 1px solid black;
}
.split > div:first-child {
  border-left: 1px solid black;
}

.padded-all {
  padding: 5px;
}

.padded-top-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padded-left-right {
  padding-left: 5px;
  padding-right: 5px;
}

.scrollable-y {
  overflow-y: scroll;
}

.centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/*input styles*/

input {
  border-radius: 4px;
  opacity: 0.5;
}

input.large {
  height: 30px;
  width: 250px;
  font-size: large;
}


/*webkit scrollbar styles*/
/*these introduces a weird right margin in chrome*/
/*::-webkit-scrollbar-track {
  background-color: #F1EFF0;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #F1EFF0;
}
::-webkit-scrollbar-thumb {
  background-color: #6CAAE4;
  border: 2px solid #6CAAE4;
}*/

/*responsive styles*/
.side {display: none;}
.only-first > div{ display: none;}
.only-first > div:first-child{ display: flex;}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1000px) {
  .side { display: flex;}
  .only-first > div{ display: flex;}
}





