html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper-full {
  height: 100%;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-item-1 { flex: 1; }
.flex-item-2 { flex: 2; }
.flex-item-3 { flex: 3; }
.flex-item-4 { flex: 4; }

.header {
  position: fixed;
  height: 80px;
  left: 0;
  right: 0;
  background-color: steelblue;
}

.wrapper-content {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100%;
}

.main {
  flex: 4;
  background-color: lightslategray;
}

.footer {
  flex: 3;
  background-color: lightsteelblue;
}
